<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Voo</th>
      <th scope="col">Companhia aerea</th>
      <th scope="col">Origem/Destino</th>
      <th scope="col">Data/Hora Saída</th>
      <th scope="col">Data/Hora Chegada</th>
      <th scope="col">Valor Adulto</th>
      <th scope="col">Valor criança</th>
      <th scope="col">Qtd. Disponivel</th>
      <th scope="col">Qtd. Escolhida</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">192</th>
      <td>Gool</td>
      <td>Recife-GUAR/SAO PAULO-GUAR</td>
      <td>20/10/2020 08:00:00</td>
      <td>20/10/2020 10:00:00</td>
      <td>350,00</td>
      <td>275,00</td>
      <td>250</td>
      <td> 
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Escolha...</option>
          <option value="1">Um</option>
          <option value="2">Dois</option>
          <option value="3">Três</option>
        </select> 
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>TAM</td>
      <td>xxxx</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Azul</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>